/vendor/
/node_modules/
.env
.phpunit.result.cache
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/public/storage
/database/database.sqlite
.idea
.vscode
