/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/.env
/.phpunit.cache
/.phpunit.result.cache
/.idea
/.vscode
/.fleet
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
pnpm-debug.log
.phpstorm.meta.php
